.post_wrapper{
  margin-top: 100px;
  color: white;

  h1{
    font-family: Rock;
    margin-left: 10px;
  }

  p{
    font-family: Chelsea;
    margin-left: 20px;
  }

  hr{
    width:80%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.date{
  color: silver;
  margin-bottom: 20px;
}