@import "./utils/vars";
@import "./sharedFonts/fonts.scss";
@import "./vars";

@font-face {
  font-family: "Rock";
  src: url("./sharedFonts/RockSalt-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Chelsea";
  src: url("./sharedFonts/ChelseaMarket-Regular.ttf") format("truetype");
}


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: black;
  min-height: 1000px;
}

.p_blog{
  margin-top: 70px;
  margin-left: 30px;
  width:100px;
  height:100px;
}

.p_blog:hover{
  transition: all .4s linear ;
  color:orange; 
}