.mainClass{
  font-family: "Chelsea";
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(20, 211, 211, 0.465);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  padding-top:80px;
  height:35%;
  padding: 20px;
}


.hello{
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  height:80px;

}

.div1{
  text-align: center;
  height:200px;
}

@media(max-width:203px){
  .hello{
    font-size: 20px;
  }
  
  .div1{
    font-size: 14px;
  }
}

@media(min-width:180px){

  .hello{
    font-size:35px;
    margin-bottom: 0px;
  }
  .mainClass{
    font-size: 15px;
  }

}

@media (min-width:280px){
  .hello{
    font-size:45px;
  }
  .mainClass{
    font-size:15px;
  }
}

@media (max-width:244px){
  .spanz{
    font-size:10px;
  }
}
@media(max-width:182px){
  .mainClass{
    height:45%;
    align-items: center;
    align-content: center;
  }
  .hello{
    height:30px;
  }
}