.menu {
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: rgb(89, 170, 170);
  position: absolute;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  z-index: 99999999;
}

.p {
  width: 10px;
  height: 10px;
  font-size: 20px;
}

@media (max-width:304px) {
  .p {
    font-size: 15px;
  }
}

@media (max-width:308px) {
  .menu {
    width: 100vw;
  }
}

.p_blog_link {
  text-decoration: none;
  color: black;
}



.p_blog_link:hover {
  transition: all 1s linear;
  color: orange;
}

.p_blog_link_hr {
  color: silver;
  border: 1px silver solid;
  margin-top: -60px;
  width: 80%;
  margin-left: 20px;

}