.blog_wrap{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 80px;
  color:white;
  font-family:"Chelsea";
}

.title{
  font-family: "Rock";
  margin-left: 10px;
  margin-bottom: 10px;
}

.content{
  margin-left: 40px;
  list-style: none;
  width:80%;
}

.post_li{
  margin-bottom: 90px;
}

.the_link{
  color: white;
  text-decoration: none;
}

.post_title:hover{
  transition: all .3s linear;
  color: orange;
}

.hr{
  width:98%;
}