@import "../../styles/utils/vars";
@import "./rects.scss";
@import "./blog";

@font-face {
  font-family: "Rock";
  src: url("./RockSalt-Regular.ttf") format("truetype");
}

.div{
  width:100%;
  height:70px;
  padding-top: calc(40px/2);
  padding-left: 20px;
  font-family: Rock;
  font-size:10px;
  position: fixed;
  z-index: 900;
}

.triggered{
  transition:all 1s;
  background-color: rgb(75, 151, 165);
}



.untriggered{
  transition: all 1s;
  background-color: transparent;
}

.h1{
  position: absolute;
  top:15px;
  right:30px;
  height:60px;
  width: 100px;
  line-height: 25px;
  color:rgb(200, 200, 200);
}

.lines_wrapper{
  margin-top: 4px;
}

.line{
  margin-bottom:5px;
  background-color: rgba(98, 245, 245, 0.65);
  border-radius:3px;
}

.line__short{
  transition: all 2s;
  width:15px;
  height:3px;
}

.line__long{
  width: 22px;
  height:3px;
}

.trigger_lines{
  animation:trigger 1s linear forwards;
}

.untrigger_lines{
  animation: untrigger 1s linear forwards;
}



@keyframes trigger{
  100%{
    background-color: silver;
  }
}

@keyframes untrigger{
  0%{
    background-color: silver;
  }
  100%{
    background-color: rgba(98, 245, 245, 0.65);
  }
}

@media (min-width:700px){
  .line{
    display: none;
  }
}

@media (max-width:700px){
  .h1_blog{
    display: none;
  }
}
