.div_wrap{
  align-content: center;
  width:100%;
  height:1000px;
  padding: 20px;
  top:80px;
  margin-top: -20px;
  position: relative;
}



@media(min-width:587px){
  .div_wrap{
    width:70%;
    margin:0 auto;
  }
}